PORT=5000
COOKIE_SECRET=base64EncodedString
ENVIRONMENT=development
TELEGRAM_BOT_TOKEN=0000:token
APP_URL=remoteAppUrl
TELEGRAM_STRIPE_TOKEN=stripeToken
DOMAIN=remoteAppDomain
ALLOWED_TELEGRAM_ADMINS=telegramID
DATABASE_URL="file::memory:?cache=shared&_pragma=foreign_keys(1)"
#DATABASE_URL="file:./dev.db?_pragma=foreign_keys(1)"
CLOUDINARY_URL=cloudinary://
DATABASE_ENGINE=sqlite
#DATABASE_ENGINE=postgres
